@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: gainsboro;
}
ul {
    list-style: none;
}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 0.4rem black);
}
.name {
    background-color: rgb(189, 233, 121);
}
.personal,
.Skills,
.Languages {
    padding: 1rem;
    line-height: 1;
}
.left,
.experience, 
.education,
.about {
    background-color: #fff;
}
.left-image {
    position: relative;
}
.left-image img {
    width: 100%;
}

.left-image h2 {
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.right {
    padding: 1.5rem;
}
.experience, 
.education,
.about {
    line-height: 2;
    padding: 2rem;
}
.experience ul {
    margin: 2rem;
}
.date {
    color: green;
}
.current {
    background-color: green;
    color: #fff;
    padding: 0.4rem;
    border-radius: 3px;
}

.education ul {
    margin: 2rem 0;
}

i {
    color: green;
}

footer {
    background-color: rgb(158, 158, 62);
    padding: 2rem 0;
    text-align: center;
    line-height: 1.5;
    color: black;
}
footer i {
    color: black;
}
